@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,500;1,600;1,800;1,900&display=swap');

:root {
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    
}

body {
    font-family: 'Inter';
    margin: 0;
    padding: 2rem 6rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.navigate {
    display: flex;
}

.navigate a {
    padding: 1rem 0 1rem 3rem;
}

.navigate a:hover {
    color: hsl(35, 77%, 62%);
    cu
}

.mommy {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "image image block"
    "heading text block";
}

.mommy img {
    width: 100%;
    grid-area: image;
}

.mommy-text {
    grid-area: text;
    /* border: 1px solid red; */
}

.heading {
    grid-area: heading;
    /* border: 1px solid red; */
}

.block {
    grid-area: block;
    background-color: hsl(240, 100%, 5%);
}

#tim {
    color: hsl(35, 77%, 62%); 
    padding: 20px;
    padding-bottom: 0px;
}

p {
    color: hsl(236, 13%, 42%);
    font-size: 15px; 
    margin-left: 25px;
}

#ugt {
   color: hsl(36, 100%, 99%);
}

ugt:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
}
    
.web2 {
    font-weight: bold;
    position: absolute; 
}

.dive {
    position: absolute;
    width: 600px;
        
}

.readme {
    background-color: hsl(240, 100%, 5%);
    margin-left: 20px;
    color: var(--off-white);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.readme:hover {
   background-color: hsl(5, 85%, 63%);
   cursor: pointer;

}



.container{
    display: flex;
    justify-content: space-between;
    /* padding: 2rem; */
    
    
}

.img-1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: xx-small;
    /* margin-top: 30px; */

}

.img-2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: xx-small;
    /* margin-top: 30px; */
    
}

.img-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: xx-small;
    /* margin-top: 30px; */
    
}

#image1 {
    height: 150px;
    width: 6rem;
    margin-top: 30px;
}

#image2 {
    height: 150px;
    width: 6rem;
    margin-top: 30px;
}

#image3 {
    height: 150px;
    width: 6rem;
    margin-top: 30px;
}

.one1 p {
    margin-left: -0.1rem;
    gap: 20rem;
    
}

.laptop p {
    margin-left: -0.1rem;
   
}

.gaming p{
    margin-left: -0.1rem;
}

